@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Passion+One&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400;700&family=Joti+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Montserrat:wght@400;500;900&display=swap');

:root {
  --light-green: #97bf0f;
  --blue: #48bab5;
  --dark-green: #617c00;
  --grey: #333,;
  --orange: #f5c702;
  --black: #111;
  --main-white: #fff;
  --main-font: 'Popinss';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* navbar */

.sidebar-container {
  display: flex;
  align-items: flex-end;

  /* position: absolute; */
}

.navbar {
  width: 330px;
  height: 100vh;
  border-right: 0.4px solid rgba(142, 142, 142, 0.2);
  display: block;
  top: 0;
  left: 0;
  padding-left: 55px;
  position: relative;
  background: white;
}

.logo {
  width: 15rem;
  margin-top: 2rem;
}

.links-container {
  margin-top: 3rem;
}

.links-container > ul {
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
}

.nav-logout li a {
  color: #fff !important;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Passion One', cursive;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  width: 100%;
  font-size: 27px;
  padding-left: 25px;
}

.close-btn-container {
  text-align: end;
  background: #97bf0f;
  width: 60px;
  padding: 15px;
  padding: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 60px;
  z-index: 1;
}

.close-arrow {
  transform: rotate(30deg);
  width: 25px;
  height: 25px;
  color: white;
  margin-top: -10px;
}

.social_media {
  position: absolute;
  bottom: 25px;
}

.link:hover {
  color: var(--dark-green);
  background-color: #dddddc;
}

.active {
  background-color: var(--light-green);
  color: var(--main-white) !important;
}

.bars {
  padding: 40px 0 0 55px;
  position: absolute;
}

.bars3 {
  font-size: 35px;
  color: #fff;
}

.container-img {
  background: url('../src/asserts/home_bg.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.title {
  font-family: 'Joti One', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 7rem;
  color: #fff;
  text-shadow: 0 7px 4px rgba(0, 0, 0, 0.8);
}

/* App styling */

.main-container {
  display: flex;
}

.main-section {
  width: 100% !important;
}
