@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Passion+One&family=Poppins:wght@400;700&display=swap');

:root {
  --light-green: #97bf0f;
  --blue: #48bab5;
  --dark-green: #617c00;
  --grey: #333333,
  --orange: #f5c702;
  --black: #111;
  --main-white: #fff;
  --main-font: 'Popinss';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* navbar */

.sidebar-container {
  display: flex;
  align-items: flex-end;
}

.navbar {
  width: 380px;
  height: 100vh;
  border-right: 0.4px solid rgba(142, 142, 142, 0.2);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  padding-left: 55px;
  position: relative;
}

.logo {
  width: 13rem;
  margin-top: 2rem;
}

.links-container {
  margin-top: 3rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto;
}

/* .navbar ul li {
  margin: 1rem 0;
} */

.nav-logout li a {
  color: #fff !important;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Passion One', cursive;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  padding: 8px 0 8px 25px;
  width: 100%;
  font-size: 40px;
}

.close-btn-container {
  text-align: end;
  background: #97bf0f;
  width: 60px;
  padding: 15px;
  padding: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 60px;
}

.close-arrow {
  transform: rotate(30deg);
  width: 25px;
  height: 25px;
  color: white;
}

.social_media {
  padding-left: 25px;
  position: absolute;
  bottom: 25px;
}

.link:hover {
  color: var(--dark-green);
  background-color: #dddddc;
}

.active {
  background-color: var(--light-green);
  color: var(--main-white) !important;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  padding: 0 1rem;
}